*{
  margin: 0;
  padding: 0;
}

body{
    /*background-color: rgba(60,60,60,0.7);*/
    background-image: url("http://localhost:3000/o-VERTICAL-GARDEN-facebook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

label{
    color: rgba(255,255,255,1);
}

#form-controller{
  width:500px;
  height:800px;
  text-align:center;
  position: absolute;
  left:34%;
  top:10%;
  padding-top: 20px;
  background-color: rgba(60,60,60,0.8);
}

#wubmit{
    position:relative;
    top:250px;
}
